{
  "openapi": "3.0.1",
  "info": {
    "title": "FerretV2 API",
    "version": "v2"
  },
"servers": [{"url": "https://api.maximizer.com/ferret/v2"}],
  "servers": [
    {
      "url": "https://api.maximizer.com/ferret/v2"
    }
  ],
  "paths": {
    "/v2/abentries/{abentryKey}": {
      "get": {
        "tags": [
          "AbEntries"
        ],
        "summary": "Get a single abentry by key",
        "parameters": [
          {
            "name": "abentryKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/abentries/metadata": {
      "get": {
        "tags": [
          "AbEntries"
        ],
        "summary": "Get metadata for abentry",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": { }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/abentries": {
      "get": {
        "tags": [
          "AbEntries"
        ],
        "summary": "Get list of abentries",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageKey",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/abentries/search": {
      "post": {
        "tags": [
          "AbEntries"
        ],
        "summary": "Search for abentries",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/addresses/{addressKey}": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Get a single address by key",
        "parameters": [
          {
            "name": "addressKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/addresses/metadata": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Get metadata for address",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": { }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/addresses": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Get list of addresses",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageKey",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/addresses/search": {
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "Search for addresses",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/authenticate": {
      "post": {
        "tags": [
          "Authenticate"
        ],
        "summary": "Authenticate without a token",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticateRequestModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticateRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticateRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticateRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/cases/{caseKey}": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Get a single case by key",
        "parameters": [
          {
            "name": "caseKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/cases/metadata": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Get metadata for case",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": { }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/cases": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "Get list of cases",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageKey",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/cases/search": {
      "post": {
        "tags": [
          "Cases"
        ],
        "summary": "Search for cases",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/currencyrates/{currencyrateKey}": {
      "get": {
        "tags": [
          "CurrencyRates"
        ],
        "summary": "Get a single currencyrate by key",
        "parameters": [
          {
            "name": "currencyrateKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/currencyrates/metadata": {
      "get": {
        "tags": [
          "CurrencyRates"
        ],
        "summary": "Get metadata for currencyrate",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": { }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/currencyrates": {
      "get": {
        "tags": [
          "CurrencyRates"
        ],
        "summary": "Get list of currencyrates",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageKey",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/currencyrates/search": {
      "post": {
        "tags": [
          "CurrencyRates"
        ],
        "summary": "Search for currencyrates",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/leads/{leadKey}": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Get a single lead by key",
        "parameters": [
          {
            "name": "leadKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/leads/metadata": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Get metadata for lead",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": { }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/leads": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Get list of leads",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageKey",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/leads/search": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Search for leads",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/opportunities/{OpportunityKey}/follow": {
      "post": {
        "tags": [
          "Opportunities"
        ],
        "summary": "Follow an opportunity",
        "parameters": [
          {
            "name": "OpportunityKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/opportunities": {
      "get": {
        "tags": [
          "Opportunities"
        ],
        "summary": "Get list of opportunities",
        "parameters": [
          {
            "name": "Scope",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "FieldKey"
            ]
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageKey",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpandoObjectMultipleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/opportunities/{OpportunityKey}": {
      "get": {
        "tags": [
          "Opportunities"
        ],
        "summary": "Get a single opportunity by key",
        "parameters": [
          {
            "name": "OpportunityKey",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Scope",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "FieldKey"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/opportunities/fieldOptions": {
      "get": {
        "tags": [
          "Opportunities"
        ],
        "summary": "Get field options for opportunity",
        "parameters": [
          {
            "name": "Field",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "FieldKey"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": { }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/opportunities/metadata": {
      "get": {
        "tags": [
          "Opportunities"
        ],
        "summary": "Get metadata for opportunity",
        "parameters": [
          {
            "name": "ExpandFields",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpandoObjectMultipleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/opportunities/search": {
      "post": {
        "tags": [
          "Opportunities"
        ],
        "summary": "Search for opportunities",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpandoObjectMultipleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/processsetups": {
      "get": {
        "tags": [
          "ProcessSetups"
        ],
        "summary": "Get list of processsetups",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageKey",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/processsetups/{processsetupKey}": {
      "get": {
        "tags": [
          "ProcessSetups"
        ],
        "summary": "Get a single processsetup by key",
        "parameters": [
          {
            "name": "processsetupKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/processsetups/metadata": {
      "get": {
        "tags": [
          "ProcessSetups"
        ],
        "summary": "Get metadata for processsetup",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": { }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/processsetups/search": {
      "post": {
        "tags": [
          "ProcessSetups"
        ],
        "summary": "Search for processsetups",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/processstagesetups": {
      "get": {
        "tags": [
          "ProcessStageSetups"
        ],
        "summary": "Get list of processstagesetups",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageKey",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/processstagesetups/{processstagesetupKey}": {
      "get": {
        "tags": [
          "ProcessStageSetups"
        ],
        "summary": "Get a single processstagesetup by key",
        "parameters": [
          {
            "name": "processstagesetupKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/processstagesetups/metadata": {
      "get": {
        "tags": [
          "ProcessStageSetups"
        ],
        "summary": "Get metadata for processstagesetup",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": { }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/processstagesetups/search": {
      "post": {
        "tags": [
          "ProcessStageSetups"
        ],
        "summary": "Search for processstagesetups",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/salesteams": {
      "get": {
        "tags": [
          "SalesTeams"
        ],
        "summary": "Get list of salesteams",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageKey",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/salesteams/{salesteamKey}": {
      "get": {
        "tags": [
          "SalesTeams"
        ],
        "summary": "Get a single salesteam by key",
        "parameters": [
          {
            "name": "salesteamKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/salesteams/metadata": {
      "get": {
        "tags": [
          "SalesTeams"
        ],
        "summary": "Get metadata for salesteam",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": { }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/salesteams/search": {
      "post": {
        "tags": [
          "SalesTeams"
        ],
        "summary": "Search for salesteams",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/territories": {
      "get": {
        "tags": [
          "Territories"
        ],
        "summary": "Get list of territories",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageKey",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/territories/{territoryKey}": {
      "get": {
        "tags": [
          "Territories"
        ],
        "summary": "Get a single territory by key",
        "parameters": [
          {
            "name": "territoryKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/territories/metadata": {
      "get": {
        "tags": [
          "Territories"
        ],
        "summary": "Get metadata for territory",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": { }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/territories/search": {
      "post": {
        "tags": [
          "Territories"
        ],
        "summary": "Search for territories",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParametersModel"
              },
              "examples": {
                "Syntax Example": {
                  "value": {"PageKey":"","PageSize":null,"Scope":["FieldKey"],"Criteria":{"FieldKey":{"Operator":""}},"OrderBy":{"FieldKey":"ASC"},"GroupBy":["FieldKey"]}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleResultViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/v2/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get list of users",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
[...]
